
	 body{
    color:black;
    padding: 1em;
     background-image:url(5.jpg);
    background-size: cover;
    background-position: center;
     
    }
#frm{ 
	border: solid gray 1px;
	width : 20%;
	border-radius: 10px;
	margin: 100px auto;
	background : white;
	padding : 50px;
	color:black;
}
#btn{
	color:#fff;
	background: #337ab7;
	padding:5px;
	margin-left:69%;
}
#header{
	background-color : green;
	color:black;
	text-align : center;
	top:0px;
}
